// Обои для amar224 — 3 монитора (DP-2, DP-3, DP-4)
// Деплоится автоматически deploy-outputs.sh по hostname

spawn-at-startup "swaybg" "-o" "DP-2" "-i" "/home/amar/Amar73/arch-niri/Wallpapers/arch.jpeg"    "-m" "fill"
spawn-at-startup "swaybg" "-o" "DP-3" "-i" "/home/amar/Amar73/arch-niri/Wallpapers/arch3.jpeg"   "-m" "fill"
spawn-at-startup "swaybg" "-o" "DP-4" "-i" "/home/amar/Amar73/arch-niri/Wallpapers/wallpaper.jpg" "-m" "fill"
